*.idea*
*.DS_Store*
*postgres-data*
downloads/
.vscode/
Exercises/Exercise-4/data/file-1.csv
Exercises/Exercise-4/data/enough_already/file-4.csv
Exercises/Exercise-4/data/other_folder/file-3.csv
Exercises/Exercise-4/data/some_folder/other_folder/file-2.csv
